<div id="register-card">
  <div id="content">
    <form nz-form [formGroup]="validateForm">
      <h2 id="register-head">Register</h2>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your SUTD email">
          <nz-input-group nzAddOnAfter="@mymail.sutd.edu.sg" nzPrefixIcon="user">
            <input [type]="'text'" nz-input formControlName="email" placeholder="Email" [(ngModel)]="email" name="email"
                   required>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username">
          <nz-input-group nzPrefixIcon="user">
            <input [type]="'text'" nz-input formControlName="username" placeholder="Username" [(ngModel)]="username"
                   name="username"
                   required>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password">
          <nz-input-group nzPrefixIcon="lock">
            <input nz-input [type]="'password'" formControlName="password" placeholder="Password" [(ngModel)]="password"
                   name="password" required>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button class="control-btn" nz-button nzType="primary" (click)="register()">Register
      </button>
      <button class="control-btn" nz-button nzType="default" (click)="switchLogin()">Back
      </button>
    </form>
  </div>
</div>
