
<div id="timetable">
  <div nz-row nzSpan="24">
    <div nz-col nzSpan="2" class="cell">
      <div class="holder">
        <span>Time</span>
      </div>
    </div>
    <div nz-col nzSpan="22">
        <div nz-row nzSpan="24">
          <div nz-col nzSpan="2" *ngFor="let time of times" class="cell">
            <div class="holder">
              <span>{{ time }}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="timetable-container">
    <div>
      <div nz-row nzSpan="24" *ngFor="let date of dates">
        <div nz-col nzSpan="2" class="cell">
          <div class="holder">
            <span>{{ date }}</span>
          </div>
        </div>
        <div nz-col nzSpan="22">
          <div nz-row nzSpan="24" *ngFor="let slot of slotByDate.get(date)">
            <div nz-col [nzOffset]="22*(slot.startTime.gapInMinute(this.startTimeStamp)/660)" [nzSpan]="22*(slot.endTime.gapInMinute(slot.startTime)/660)" class="cell">
              <div class="container">12</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
