<app-header  [loggedIn]="true"></app-header>
<nz-layout>
  <nz-layout>
    <!-- Left sidebar  -->
    <nz-sider id="left-sidebar" [nzCollapsible]="true" [(nzCollapsed)]="isLeftBarCollapsed" [nzCollapsedWidth]="50" nzWidth="14%" [nzTrigger]="leftSidebarTrigger">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item nzSelected>
          <a [routerLink]="['/']">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            <span>Timetable</span>
          </a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['/courses']">
            <span nz-icon nzType="read" nzTheme="outline"></span>
            <span>Courses</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-footer>
  <div class="footer-container">
    <a class="footer-text" href="https://github.com/TsukiSky/SUTDTimePlanner" target="_blank"><b>Github</b></a>
    <b>&nbsp;|&nbsp;</b>
    <a class="footer-text" (click)="onAboutTimePlanner()"><b>About SUTDTimePlanner</b></a>
  </div>
</nz-footer>


<ng-template #leftSidebarTrigger>
  <div id="leftSidebarTrigger">
    <span nz-icon nzType="double-left" nzTheme="outline" *ngIf="!isLeftBarCollapsed"></span>
    <span nz-icon nzType="double-right" nzTheme="outline" *ngIf="isLeftBarCollapsed"></span>
  </div>
</ng-template>
