<nz-layout>
  <nz-header class="header">
    <div class="logo"></div>
    <p class="title"># SUTD Time Planner</p>
  </nz-header>
  <div id="body">
    <div class="container">
      <app-timetable [courseSet]="enrolledCourseSet"></app-timetable>
    </div>
    <nz-content>
      <div class="container">
        <ul nz-list nzBordered nzSize="small" *ngIf="enrolledCourseSet.size!=0">
          <li nz-list-item *ngFor="let course of enrolledCourseSet" nzNoFlex>
            {{ course.subject }}
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="dropCourse(course.id, course.subject)">drop</a>
              </nz-list-item-action>
              <nz-list-item-action>
                <a>more information</a>
              </nz-list-item-action>
            </ul>
          </li>
        </ul>
        <nz-empty *ngIf="enrolledCourseSet.size==0" [nzNotFoundImage]="'../../assets/no-data.png'" [nzNotFoundContent]="template">
          <ng-template #template>
            <span>
              No course selected
            </span>
          </ng-template>
        </nz-empty>
      </div>
      <div class="container">
        <form nz-form [formGroup]="searchForm" nzLayout="horizontal">
          <div nz-row nzGutter="24">
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-control>
                  <nz-select nzPlaceHolder="Term" nzAllowClear>
                    <nz-option
                      *ngFor="let term of termList" [nzLabel]="term" [nzValue]="term">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-control>
                  <nz-select nzPlaceHolder="Pillar" nzAllowClear>
                    <nz-option
                      *ngFor="let pillar of pillarList" [nzLabel]="pillar" [nzValue]="pillar">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a course">
                    <nz-option
                      *ngFor="let course of courseList" [nzLabel]="course.subject" [nzValue]="course.id">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button id="search-button" nzType="primary" nzSize="default">Search</button>
            </div>
          </div>
        </form>
        <nz-table id="searchTable" nzSize="small" [nzData]="courseList" #searchTable nzShowPagination nzShowSizeChanger>
          <thead>
            <tr>
              <th nzWidth="60px"></th>
              <th>Term</th>
              <th>Pillar</th>
              <th>Subject</th>
              <th>Instructors</th>
              <th>Core/Elect</th>
              <!-- <th>Pre-requisites</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of courseList">
              <tr>
                <td [nzExpand]="expandCourseSet.has(data.id)" (nzExpandChange)="onCourseExpandChange(data.id, $event)"></td>
                <td>{{ data.term }}</td>
                <td>{{ data.pillar }}</td>
                <td>{{ data.subject }}</td>
                <td>{{ data.instructors }}</td>
                <td>{{data.isCore? "Core": "Elective"}}</td>
                <!-- <td>{{ data.preRequisites }}</td> -->
                <td><a nz-button nzType="link" (click)="enrollCourse(data)" [disabled]="enrolledCourseSet.has(data)">enroll</a></td>
              </tr>
              <tr [nzExpand]="expandCourseSet.has(data.id)">
                <span>this is for the course descriptions</span>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </div>
  <nz-footer>
    <div class="footer-text">
        SUTD Singapore University of Technology and Design<br>
        Copyright © 2023&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://sutd.edu.sg/Privacy-Statement" target="_blank">Privacy Statement</a>
    </div>
  </nz-footer>
</nz-layout>
