.logo {
  width: 120px;
  height: 40px;
  background-image: url("../sutd-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px 24px 16px 0;
  float: left;
}

.header {
  background-color: #990033;
}

.title {
  font-size: 20px;
  color: ghostwhite;
}

#sidebar {
  background-color: #FBFBFB;
}

#sidebar-header {
  background-color: #021A31;
}

nz-sider {
  border-color: #021A31;
  border-style: solid;
  border-width: 0 0 0 10px;
}

.sidebar-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.course-card {
  aspect-ratio : 1 / 1;
  width: 50%;
}

.container {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-text {
  font-family: GothamBook;
  font-size: 14px;
  text-align: center;
  display: block;
}

.sidebar-container-header {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar-display-switch span {
  font-size: 13px;
  color: #808080;
}

.sidebar-display-switch {
  float: right;
  vertical-align: middle;
}

#search-button {
  float: right;
}

.time-board {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#body {
  background-color: #f7f7f7;
}

app-timetable {
  display: block;
}

.star-button {
  cursor: pointer;
}

.main-table-star-button {
  margin-left: 12px;
}

.course-conflict-list {
  border-width: 3px 3px 3px 3px;
  border-color: #FF5F6D;
  margin-bottom: 12px;
}
