#logo {
  height: 60px;
  width: 100%;
  float: left;
  line-height: 60px;
  display: flex;
  align-items: center;
}

#logo-img {
  height: 60%;
  max-width: 100%;
  max-height: 100%;
}

#header-placeholder {
  height: 60px;
}


.function-btn {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 60px;
  width: 100%;
  background-color: var(--background-header);
  position: fixed;
  z-index: 3;
  caret-color: transparent;
}

#setting-icon {
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: var(--icon);
}

#sidebar {
  background-color: var(--bacgrround-primary);
  border-width: 0 0 0 0;
}

.sidebar-container {
  background-color: white;
  margin: 10px 2% 16px;
  padding: 10px 3%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  caret-color: transparent;
}

#function-btn-container {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid var(--border-dark);
  height: 100%;
}

#time-info-box {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--border-dark);
  padding: 8px 20px;
  color: var(--bacgrround-primary);
}

.course-card {
  aspect-ratio : 1 / 1;
  width: 50%;
}

nz-content {
  background-color: var(--bacgrround-primary);
}

.container {
  background-color: var(--background-secondary);
  margin: 20px 5%;
  padding: 20px 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-text {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text-grey);
}

.footer-container {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  color: var(--text-grey);
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  caret-color: transparent;
}

.sidebar-container-header {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 6px 5px;
  caret-color: transparent;
}

.sidebar-display-switch span {
  font-size: 13px;
  color: var(--icon-dark);
}

.sidebar-display-switch {
  float: right;
  vertical-align: middle;
}

#search-button {
  float: right;
}

.time-board {
  margin: 20px 10%;
}

#body {
  background-color: var(--bacgrround-primary);
}

app-timetable {
  display: block;
}

.star-button {
  cursor: pointer;
}

.main-table-star-button {
  margin-left: 12px;
}

.course-conflict-list {
  border-width: 3px 3px 3px 3px;
  border-color: var(--accent-color-warning);
  margin-bottom: 12px;
}

#sidebar-main-container {
  background-color: var(--background-secondary);
  margin: 20px 20px 20px 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#left-sidebar {
  background-color: var(--background-secondary);
}

#leftSidebarTrigger {
  background: var(--icon-dark);
}

.sidebar-enroll-btn {
  padding: 0 0;
  height: auto;
}

#quote-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#search-table {
  caret-color: transparent;
}

#quotation-text {
  color: var(--text-grey);
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.list-item-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
